# databases, database management, pictures and old site ignored
oud/
images/
sqlite/
google2476b499ac4930a6.html
robots.txt
sitemap.txt
phpliteadmin.config.php
phpliteadmin.php
data/style-phpliteadmin.css
# upload script was purchased, so ignored
upload.php